<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout_01</title>
  <link rel="stylesheet" href="Layout02.css">
</head>
<body>
  <header>
  <h2>Encabezado</h2>
  </header>

  <main>
    <h2>Contenido Principal</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Officiis ab illum reprehenderit architecto nobis optio
       ratione nesciunt at impedit repellat?</p>
  </main>

  <nav>
    <h2>Menú</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Voluptatibus voluptates nisi veniam minima ratione.
       Voluptates culpa aliquid earum sint modi!</p>
  </nav>

  <aside>
    <h2>Barra Lateral</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Praesentium, sit aliquam qui amet accusamus ad distinctio
       labore vel illo eius.</p>
  </aside>

  <footer>
    <h2>Pie de Página</h2>
  </footer>
</body>
</html>
