#contenedorform {
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #ffe;
    border: 1px solid #CCC;
    padding: 10px 0 10px 0;
}
.CentradoTitulo{
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    background-color: pink;
    height: 30px;
}

.Descripcion{
    font-family: Verdana;
    font-size: 13px;
}
.Valor{
    font-family: Verdana;
    font-size: 13px;
}